<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter your email"
               required #email="ngModel">
        <div [hidden]="email.valid" class="alert alert-danger">Email is required</div>
      </div>
      <div class="form-group">
        <label for="channel">Channel</label>
        <input type="email" [(ngModel)]="user.channel"
               class="form-control"
               id="channel"
               name="channel"
               placeholder="Enter the channel you want to receive promotions"
               required #channel="ngModel">
        <div [hidden]="channel.valid" class="alert alert-danger">Channel is required</div>

      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" [(ngModel)]="user.addressDTO.country"
               class="form-control"
               id="country"
               name="country"
               placeholder="Enter country"
               required #country="ngModel">
        <div [hidden]="country.valid" class="alert alert-danger">Country is required</div>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" [(ngModel)]="user.addressDTO.city"
               class="form-control"
               id="city"
               name="city"
               placeholder="Enter city"
               required #city="ngModel">
        <div [hidden]="city.valid" class="alert alert-danger">City is required</div>
      </div>
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" [(ngModel)]="user.addressDTO.street"
               class="form-control"
               id="street"
               name="street"
               placeholder="Enter street"
               required #street="ngModel">
        <div [hidden]="street.valid" class="alert alert-danger">Street is required</div>
      </div>
      <div class="form-group">
        <label for="zipcode">Zip Code</label>
        <input type="text" [(ngModel)]="user.addressDTO.zipCode"
               class="form-control"
               id="zipcode"
               name="zipcode"
               placeholder="Enter zip code"
               required #zipcode="ngModel">
        <div [hidden]="zipcode.valid" class="alert alert-danger">Zip code is required</div>
      </div>
      <div class="btn-group">
        <a (click)="goToHomePage()"
           class="btn btn-secondary mx-1">Back
        </a>
        <button type="submit" [disabled]="!userForm.form.valid"
                class="btn btn-info">Update
        </button>
      </div>
    </form>
  </div>
</div>
